body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #375e97;
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 1px solid #375e97;
}

h2 {
    font-size: 1.5em;
    font-style: italic;
}

.job-title {
    color: #999999;
    font-weight: bold;
}


a:link{
    color: purple;
}
a:visited {
    color: purple;
}

a:hover {
    color: green
    text-decoration: none;
    color: green;
}


h1.silly {
    color: hotpink;   
    border-bottom: dotted 10px rgb(210, 166, 247); 

}

ul.contact {
    background-color: #eeeeee ;
    border: 5px purple solid;
    padding: 2px;
    color: green;
}


ul.link {
    color: green;

}
